# Ignorar imágenes
*.png
*.jpg
*.jpeg
*.gif
*.bmp
!distorted.jpg
!undistorted.jpg
!sparse_plus_path.png
!meshed_GT.gif
# Ignorar rosbags y pointclouds
*.mcap
*.laz

# Ignorar comprimidos
*.zip
# Ignorar archivos .ply
*.ply

# Ignorar modelos de imagenes
*.pt
*.h5
mask_rcnn_coco.h5

# Ignorar changelog
/main_folder/changelog.txt

# Ignorar contenido dentro de la carpeta colmap_ws
/colmap_ws/*
/main_folder/old_codes/*
/dataset_ws/*
/sfm/*
/dataset_ws_test/*
/models/*
